.card {
  border-width: 1px;
  border-radius: var(--mantine-radius-md);
  border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  background-color: var(--mantine-color-body);
  overflow: hidden;
}
