.parent {
  flex-wrap: nowrap;
  @media (max-width: $mantine-breakpoint-xs) {
    flex-wrap: wrap;
  }
}

.side {
  width: 15rem;
  flex-grow: 0;
  flex-shrink: 0;
  @media (max-width: $mantine-breakpoint-xs) {
    margin-inline: auto;
  }
}

.mainSection {
  flex-grow: 1;
  border-width: 1px;
  border-radius: var(--mantine-radius-md);
  border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.sideCard {
  border-width: 1px;
  border-radius: var(--mantine-radius-md);
  border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.carousel {
  flex-direction: row;

  @mixin rtl {
    flex-direction: row-reverse;
  }
}

.control {
  transform: none;
  @mixin rtl {
    transform: scale(-1, 1);
  }
}
